body{
  background-color: #1B96AF;
}

td{
  width: 400px;
  height: 200px;
  border: 5px solid black;
  padding: 10px;
}

body {margin: 0;}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

nav{
  float: left;
  max-width: 160px;
  margin: 0;
  padding: 1em;
}
.topnav a{
  background-color: red;
  border: solid 3px black;
float: none;
}
h3.imagetitle{
  text-align: center;
  border: solid 5px black;
  padding: 10px;
}
