body{
  background-color: lightblue;
}
td{
  width: 400px;
  height: 200px;
  border: 1px solid black;
}

a{
  float: left;
  display: block;
  color: #red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
a:hover {
 background-color: #ddd;
 color: black;
 }

 a.active {
   background-color: #4CAF50
   color: white;
 }
